In [171]:
import pandas as pd
import seaborn as sb
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import matplotlib.pyplot as plt
import numpy as np
import plotly.figure_factory as ff
import dataframe_image as dfi
import pylatex as pl
from pylatex import Command, Document, Section, Subsection
from pylatex.utils import NoEscape, italic
from mdutils.mdutils import *
from mdutils import *
import os

In [227]:
wheel="blitz"
brand="Begode"
year="2024"
battery_cap=None

In [228]:
portraits = os.listdir('imgs/wheels/portrait')
portrait = [item for item in portraits if item.startswith(wheel) ][0]

wheel_specs = pd.read_csv("specs/"+wheel+".csv",sep='|')

wheel_specs_tab=wheel_specs.values.copy()
for i in range(0,len(wheel_specs_tab)):
   wheel_specs_tab[i]=["**"+wheel_specs_tab[i][0]+"**",wheel_specs_tab[i][1]]
wheel_specs_tab = ['Field','Data']+[item for row in wheel_specs_tab for item in row]

battery_cap=wheel_specs[wheel_specs["Field"]=="Battery"]
battery_cap=battery_cap.values
battery_cap=battery_cap[0][1].split("Wh")[0]
battery_cap=int(battery_cap)/1000

# STATS
## ENV

In [229]:
stats_dir="stats/"+wheel
analysis_dir='analysis/'+wheel

env_stats=pd.read_csv(stats_dir+'/env.csv')
#env_stats.columns
env=env_stats[['trip_distance_km','rider_weight_kg','tire_pressure_bars','outdoor_temperature_c','altitude_difference']]
env=env.describe()

env_stats['count']=1
trips=env_stats[['trip_type','count']].groupby('trip_type').count()
apps=env_stats[['data_origin','count']].groupby('data_origin').count()

env=env.style.background_gradient()
env

# Conso

In [230]:
conso_stats=pd.read_csv(stats_dir+'/conso.csv')
conso=conso_stats.describe()
estimated_range = int(battery_cap/conso[['average_wh/km']].values[1][0]*1000)
wheel_specs_tab +=['**Estimated range (baeed on data)**',str(estimated_range)+" km"]

In [231]:
conso=conso.style.background_gradient()
conso

# Summaries

In [232]:
sum_stats=pd.read_csv(stats_dir+'/summary.csv')
sum_stats=sum_stats.drop(['trip_id'],axis=1)

dfs={}

cols = sum_stats.columns[1:-1]
for c in cols:
    df=sum_stats[['stat',c]].groupby('stat').describe()
    dfs.update({c:df})

In [233]:

mdFile = MdUtils(file_name="analysis/"+wheel,title='')
# Additional Markdown syntax...

mdFile.new_header(level=1, title=brand+" " + wheel.replace("_"," ").upper())
mdFile.write('**RELEASE YEAR :**  '+year)

mdFile.new_header(level=2, title="Portrait")
mdFile.new_paragraph(Html.image(path="../imgs/wheels/portrait/"+portrait, size='200'))
mdFile.new_line()

mdFile.new_header(level=2, title="Specifications")
mdFile.new_line()
mdFile.new_table(columns=2, rows=21, text=wheel_specs_tab, text_align='center')

mdFile.new_header(level=1, title="Usage Statistcs")

mdFile.new_header(level=2, title="Number of trips per source")
mdFile.write(apps.to_html())

mdFile.new_header(level=2, title="Number of trips per type")
mdFile.write(trips.to_html())

mdFile.new_header(level=2, title="Trips environment statistics")
mdFile.write(env.to_html())

mdFile.new_header(level=2, title="Trips energy statistics")
mdFile.write(conso.to_html())

mdFile.new_header(level=2, title="Trips statistics per field")

for d in dfs:
    field=dfs.get(d)
    field=field.style.background_gradient()
    mdFile.write(field.to_html())
    mdFile.new_line()
    mdFile.write('---')
    mdFile.new_line()
    mdFile.new_line()

mdFile.new_header(level=2, title="Trips details")
trips_links=[]
anal_files=os.listdir(analysis_dir)
anal_files=[file for file in anal_files if file.endswith('.md')]
for a in anal_files:
    trip_id=a.split('_')[-1]
    trip_id=trip_id.split('.')[0]
    trips_links+=['Trip '+trip_id,'[Details]'+'('+wheel+'/'+a+')']
trips_links=['Trip id','link']+trips_links

mdFile.new_table(columns=2, rows=len(anal_files)+1, text=trips_links, text_align='center')

mdFile.create_md_file()

/home/tritbool/Workspace/.venv/lib/python3.13/site-packages/pandas/io/formats/style.py:3807: RuntimeWarning:

All-NaN slice encountered

/home/tritbool/Workspace/.venv/lib/python3.13/site-packages/pandas/io/formats/style.py:3808: RuntimeWarning:

All-NaN slice encountered

/home/tritbool/Workspace/.venv/lib/python3.13/site-packages/pandas/io/formats/style.py:3807: RuntimeWarning:

All-NaN slice encountered

/home/tritbool/Workspace/.venv/lib/python3.13/site-packages/pandas/io/formats/style.py:3808: RuntimeWarning:

All-NaN slice encountered

/home/tritbool/Workspace/.venv/lib/python3.13/site-packages/pandas/io/formats/style.py:3807: RuntimeWarning:

All-NaN slice encountered

/home/tritbool/Workspace/.venv/lib/python3.13/site-packages/pandas/io/formats/style.py:3808: RuntimeWarning:

All-NaN slice encountered

/home/tritbool/Workspace/.venv/lib/python3.13/site-packages/pandas/io/formats/style.py:3807: RuntimeWarning:

All-NaN slice encountered

/home/tritbool/Workspace/.venv/lib/python3.13/site-packages/pandas/io/formats/style.py:3808: RuntimeWarning:

All-NaN slice encountered

/home/tritbool/Workspace/.venv/lib/python3.13/site-packages/pandas/io/formats/style.py:3807: RuntimeWarning:

All-NaN slice encountered

/home/tritbool/Workspace/.venv/lib/python3.13/site-packages/pandas/io/formats/style.py:3808: RuntimeWarning:

All-NaN slice encountered

/home/tritbool/Workspace/.venv/lib/python3.13/site-packages/pandas/io/formats/style.py:3807: RuntimeWarning:

All-NaN slice encountered

/home/tritbool/Workspace/.venv/lib/python3.13/site-packages/pandas/io/formats/style.py:3808: RuntimeWarning:

All-NaN slice encountered

/home/tritbool/Workspace/.venv/lib/python3.13/site-packages/pandas/io/formats/style.py:3807: RuntimeWarning:

All-NaN slice encountered

/home/tritbool/Workspace/.venv/lib/python3.13/site-packages/pandas/io/formats/style.py:3808: RuntimeWarning:

All-NaN slice encountered

/home/tritbool/Workspace/.venv/lib/python3.13/site-packages/pandas/io/formats/style.py:3807: RuntimeWarning:

All-NaN slice encountered

/home/tritbool/Workspace/.venv/lib/python3.13/site-packages/pandas/io/formats/style.py:3808: RuntimeWarning:

All-NaN slice encountered

In [118]:
anal_files

['z10_0.md']